
body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.showcase {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
    margin: 0 auto 0 auto;
	padding: 0;
	width: calc(100% - 200px);
}


.cart {
	position: fixed;
	top:  5px;
	right: 5px;
	width: 75px;
	height: 75px;
	margin: 0;
	padding: 10px;
	border: 1px solid #aaaaaa;
	border-radius: 5%;
	background-color: white;
	background-image: url(../img/cart.png);
    background-size: 90%;
    background-position-x: center;
    background-position-y: 20px;
    background-repeat: no-repeat;
}

#cartList {
	display: none;
}
