
body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
	text-align: center;
}

.showcase {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 100px));
	grid-column-gap: 15%;
	align-items: stretch;
	justify-content: center;
    margin: 0 auto 0 auto;
	padding: 0;
	width: calc(100% - 200px);
}

@media (max-width:400px) {
	.showcase {
		grid-template-columns: repeat(2, minmax(50px, 1fr));
	}
}

.showcase img {
	width: 100%;
}
.cart {
	position: fixed;
	top:  7em;
	right: 5px;
	width: 75px;
	height: 75px;
	margin: 0;
	padding: 10px;
	border: 1px solid #aaaaaa;
	border-radius: 5%;
	background-color: white;
	background-image: url(../img/cart.png);
    background-size: 90%;
    background-position-x: center;
    background-position-y: 20px;
    background-repeat: no-repeat;
}

#cartList {
	display: none;
}
